.sign-up-parent {
  box-sizing: border-box;
  margin-top: -100px;
  width: 100%;
  height: 110vh;
  background-image: linear-gradient(to right, blue, violet);
}

.header-sign-up-class {
  padding-top: 2rem;
  color: white;
}

.header-log-in-class {
  padding-top: 2rem;
  color: white;
}

.sign-up-header {
  text-align: center;
  padding: auto;
  font-size: 40px;
  margin-top: 30px;
}

.form-sign-up {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 240px;
  margin-left: 1050px;
  width: 500px;
  height: auto;
}

.header-content {
  margin-bottom: 30px;
  margin-top: 8px;
  font-size: 32px;
}

.content-sign-up {
  border: none;
  outline: none;
  margin-bottom: 50px;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(90, 90, 90);
  font-size: 22px;
}

.btn-signup {
  border: 1px solid black;
  outline: none;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 9rem;
  border-radius: 20px;
}

.have-an-account {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 23px;
}

.have-an-account a {
  text-decoration: none;
}

/* Log In Styles: */

.log-in-parent {
  box-sizing: border-box;
  margin-top: -100px;
  width: 100%;
  height: 110vh;
  background-image: linear-gradient(to right, blue, violet);
}

.form-log-in {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 240px;
  margin-left: 1050px;
  width: 500px;
  height: auto;
}

.content-log-in {
  border: none;
  outline: none;
  margin-bottom: 20px;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(90, 90, 90);
  font-size: 22px;
}

.btn-log-in {
  border: 1px solid black;
  outline: none;
  margin-top: 20px;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 9rem;
  border-radius: 20px;
}

/* Errors */

.error-display {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: -80px;
}

.error-header {
  font-size: 24px;
  color: rgb(2, 1, 0);
  font-weight: 600;
  border: 2px solid red;
  padding: 0.4rem;
}
