body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.review-blog-parent {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 1rem 2.5rem;
}

.title-blog {
  margin: -10px 50% 80px 50%;
  transform: translateX(-50%);
}
.blog-heading {
  color: red;
  width: 345px;
}

.main-content-blog {
  display: grid;
  grid-template-columns: 50% 45%;
  align-items: center;
  justify-content: center;
}

.image-blog-parent {
  flex: 40%;
  margin-left: 540px;
}

img {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.description-parent {
  margin-left: 120px;
}
.header-description {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(238, 163, 71);
}

.text-description {
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  letter-spacing: 1.4px;
  height: auto;
  font-size: 24px;
}

.benefits {
}

.header-benefits {
  margin-left: 20px;
  color: rgb(238, 163, 71);
}

.benefits-text {
  color: rgb(13, 23, 27);
  width: 95%;
  padding: 0.4rem;
  margin-left: 15px;
  font-size: 17px;
  letter-spacing: 1.2px;
}

.how-to-prepare {
  padding: 0 0.4rem 5rem 0.4rem;
  margin-top: 50px;
}

.header-prepare-instructions {
  margin-left: 10px;
  color: rgb(238, 163, 71);
  margin-bottom: 7px;
}
.how-to-prepare-text {
  margin-left: 10px;
  font-size: 16px;
  line-height: 29px;
  font-weight: 600;
  font-style: italic;
  color: rgb(45, 50, 50);
}
